
/*mainpage styling starts */
.mainheading {
    
    font-family: Chalkduster, fantasy; 
    font-size: 80px;
    
    
    
}
.mainimage {
    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-repeat:repeat;
    
}
.recipe {
    font-size: 40px;
    font-family: Chalkduster, fantasy;
}
/*mainpage styling ends*/

/*burger styling starts*/

.burgerbackground {
    background-image: url(../img/burgerbackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: 0px 500px 0px 0px;
    
}

.intro {
    font-size: 10px;
}

.recipeheading {
    color: orange;
    font-family: Chalkduster, fantasy;
}

.intro {
    color: sandybrown;
    color:sandybrown;
    
    background: black;
    border: 5px solid;
    border-color: orange;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.ingredients {
    color: orange;
    font-family: Chalkduster, fantasy;
}

.list {
    color: sandybrown;
}

.howtomake {
    color: orange;
    font-family: Chalkduster, fantasy;
}
.listb {
    color:sandybrown;
    
    background: black;
    border: 5px solid;
    border-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* burger ends */
/* pizza starts */

.pizzamain {
    background: url(../img/pizzabackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
    

}
.recipeheading2 {
    
    color: black;
    font-family: Chalkduster, fantasy;
}
.intro2 {
    
    color: sandybrown;
    color:sandybrown;
    
    background: black;
    border: 5px solid;
    border-color: orange;
    
}
.ingredients2 {
    
    color: black;
    font-family: Chalkduster, fantasy; 
}
.list2 {
    
    color:sandybrown;
    
    background: black;
    border: 5px solid;
    border-color: orange;
    

}
.howtomake2 {
    
    color: black;
    font-family: Chalkduster, fantasy;   
}
.listb2 {
    
    color:sandybrown;
    
    background: black;
    border: 5px solid;
    border-color: orange;
     
}
/*pizza ends*/
/*poutine starts*/

.poutinemain {
    background-image: url(../img/poutinebackground.jpeg);
    background-size: cover;
    background-color: hsl(0, 100%, 29%);
    background-repeat: no-repeat;
}
.recipeheading3 {
    color: black;
    font-family: Chalkduster, fantasy;  
}
.intro3 {
    
    color:red;
    
    background: black;
    border: 5px solid;
    border-color: #ff4d00;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ingredients3 {
    color: black;
    font-family: Chalkduster, fantasy;
}
.list3 {
    
    color:red;
    border: 5px solid;
    border-color: #ff4d00;
    background: black;
    
    border-color: #ff4d00;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.howtomake3 {
    
    color: black;
    font-family: Chalkduster, fantasy;   
}
.listb3 {
    color:red;
    border: 5px solid;
    border-color: #ff4d00;
    background: black;
    
    border-color: #ff4d00;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.container {
    
    width: 40%;
    margin-right: auto;
}
.container1 {
    
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    
    
}
.containerpizza {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    float: right;
    

}


